[% translate = {
    EXTLANG = "en_US",
    CLAIM1 = "meat and fish",
    CLAIM2 = "seasonal cooking",
    CLAIM3 = "high quality products",
    CLAIM4 = "<em>milanese</em> tradition",
    TIMETABLE1 = "from 12:00 to 14:30",
    TIMETABLE2 = "from 19:00 to 22:30",
    TIMETABLE3 = "closed on saturday at lunch and sunday",
    PHONE = "Phone +39 02 39833858",
    WINERY = "Winery"
    CREW = "Crew",
}
%]
