<h1>[% wines_type %]</h1>
[% FOREACH w = wines %]
<div class="wine">
    <div class="name">[% w.name %]</div>
    <div class="data">[% w.region %], [% w.year %]</div> 
    <div class="data">Cantina: [% w.winery %]</div>
</div>
[% END %]
