<h1>[% wines_type %]</h1>
<table style="color:#fff;font-size: 25px">
    <tr><th>Nome</th><th>Anno</th><th>Regione</th><th>Cantina</th></tr>
    <tr><td>Valpolicella</td><td>2001</td><td>Veneto</td><td>Sarchiaponi</td></tr>
    <tr><td>Valpolicella</td><td>2001</td><td>Veneto</td><td>Sarchiaponi</td></tr>
    <tr><td>Valpolicella</td><td>2001</td><td>Veneto</td><td>Sarchiaponi</td></tr>
    <tr><td>Valpolicella</td><td>2001</td><td>Veneto</td><td>Sarchiaponi</td></tr>
</table>
