/* LAYOUT */
html
{
    font-size: 100%;
}
body
{
   background-image: url('../images/background.gif');
   background-repeat: repeat-x;
   background-color: #000;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 14px;
   margin: 0;
}
a
{
    text-decoration: none;
    color: #bdbdbd; 
    margin: 0;
    border: 0;
}
a:hover
{
    color: #fff;
    margin: 0;
    border: 0;
}
a:visited
{
    color: #bbb;
}
img
{
    margin: 0;
    border: 0;
}
h1
{
    font-size: 3em;
    font-weight: normal;
    color: #fff;
    line-height: 0em;
    margin-bottom: 40px;
}
h2
{
    font-size: 2em;
    font-weight: normal;
    color: #fff;
    line-height: 2em;
}
.container
{
    width: 980px;
    margin:0 auto; 
}
.head
{
    height: 185px;
    margin-bottom: 40px;
    overflow: hidden;
}
.head img,
.head .box
{
    float:left;
    height: 185px;
}
.head .claims
{
    font-weight: bold;
    margin-left: 45px;
    margin-top: 40px;
    color: #cacaca;
}
.head .claims .claim1
{
    font-size: 1.2em;
}
.head .claims .claim2
{
    font-size: 1.5em;
}
.head .claims .claim3
{
    font-size: 1.7em;
}
.head .claims .claim4
{
    font-size: 2.2em;
}
.head .claims
{
    width: 330px;
}
.head .info
{
    margin-top: 30px;
    text-align: right;
    color: #fff;
}
.head .info .address
{
    font-size: 2.5em;
}
.head .info .timetable
{
    font-size: 1em;
}
.head .info .telephone
{
    font-size: 1.5em;
}
.head .info .facebook
{
    margin-top: 10px;
}
.main
{
    overflow: hidden;
}
.language .flag
{
    width: 25px;
}
.navbar
{
    float: left;
    margin-left: 15px;
    margin-right: 65px;
    font-size: 1.2em;
    height: 500px;
}
.navbar p
{
    margin: 0;
    line-height: 30px;
}
.navbar a
{
    color: #bdbdbd;
    text-decoration: none;
}
.navbar a:hover
{
    color: #fff;
}
.content
{
    float: left;
    margin-left: 100px;
}
.footer
{
    margin-top: 100px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: right;
    color: #bbb;
}
.footer span
{
    margin-left: 20px;
}

/* PAGES */
.showcase
{
    position: relative; 
    width: 510px; 
    height: 510px
}
.showcase img
{
    width: 250px;
    height: 250px;
}
.tagline
{
    margin-bottom: 20px;
    font-size: 2em;
    color: #fff;
}
.tagline p
{
    font-size: 0.5em;
}
.menuplate
{
    min-width: 20px;
    margin-left: 40px;
    color: #fff;
    font-size: 1.2em;
}
.menuplate img
{
    margin-left: 9px;
    vertical-align: middle;
}

.business-claim
{
    color: #fff;
    width: 550px;
}
#recipe h1
{
    width: 600px;
    line-height: 1em;
}
#recipe .inner-content
{
    margin-top: 55px;
}

#recipe .imagebox
{
    text-align: center
}
#recipe .imagebox img
{
    max-height: 400px;
}
#recipe .textbox
{
    color: #fff;
    font-size: 1.8em;
    width: 600px;
}
#recipe .backbox
{
    font-size: 1.2em;
}

