<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
[% PROCESS "common/$language/vocabulary.tt" %]        
<html xmlns="http://www.w3.org/1999/xhtml">
<head prefix="og: http://ogp.me/ns#">
    <title>Mauro Restaurant - [% title %]</title>
    <meta name="description" content="[% page_description %]" />
    <link rel="stylesheet" href="[% request.uri_base %]/css/main.css" />
    <meta property="og:url" content="http://www.maurorestaurant.it" />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Mauro Restaurant"/>
    <meta itemprop="name" content="Mauro Restaurant"/>
    <meta name="keywords" content="restaurant, ristorante, milano, cucina, cucina tipica milanese, carne, pesce, pasta, primi, secondi, pranzo, cena" />
    <script src="[% request.uri_base %]/js/jquery-1.9.1.js"></script>
    <script src="[% request.uri_base %]/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script>
      $(function() {
        $( "#wines-menu" ).accordion({
            collapsible: true,
            active: false
      });
  });
  </script>
</head>
<body>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/[% translate.EXTLANG %]/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="container">
        <div class="head">
            <a href="/"><img src="/images/logo.png" /></a>
            <div class="box claims">
                <div class="claim1">[% translate.CLAIM1 %]</div>
                <div class="claim2">[% translate.CLAIM2 %]</div>
                <div class="claim3">[% translate.CLAIM3 %]</div>
                <div class="claim4">[% translate.CLAIM4 %]</div>
             </div>
             <div class="box info">
                 <div class="address">via Gozzi 6, Milano</div>
                 <div class="timetable">[% translate.TIMETABLE1 %]</div>
                 <div class="timetable">[% translate.TIMETABLE2 %]</div>
                 <div class="timetable">[% translate.TIMETABLE3 %]</div>
                 <div class="telephone">[% translate.PHONE %]</div>
                 <div class="facebook">
                    <span class="share" style="font: 18px Arial,sans-serif;color:#FFF"></span><fb:like href="https://www.facebook.com/pages/Mauro-Restaurant/134557273421587" send="false" layout="button_count" width="450" show_faces="false"></fb:like>
                 </div>
             </div>
        </div>
        <div class="main">
            <div class="navbar">
                <div id="TA_rated710" class="TA_rated"><ul id="iWe36My8Md" class="TA_links ZfqTbO1bsJi"><li id="BLDirtocHV" class="wwyhzV4HN"><a href="http://www.tripadvisor.it/Restaurant_Review-g187849-d4558690-Reviews-Mauro_Restaurant-Milan_Lombardy.html">Mauro Restaurant</a></li></ul></div><script src="http://www.jscache.com/wejs?wtype=rated&amp;uniq=710&amp;locationId=4558690&amp;lang=[% language %]"></script>
                <div class="language">
                    <a href="/it/"><img class="flag" src="/images/Italy-icon.png" /></a>
                    <a href="/en/"><img class="flag" src="/images/United-Kingdo-icon.png" /></a>
                </div>
                [% INSERT "common/$language/sidebar.tt" %] 
            </div>
            <div [% IF htmlid %]id=[% htmlid %][% END %] class="content">
                [% content %]
            </div>
        </div>
        <div class="footer">
            <span>Mauro restaurant - Via Gaspare
                Gozzi 6, Milano - Zona piazzale Susa - Telefono +39 02 39833858</span>
            <!--span>P.IVA: xxxxxxxxxxxxxxx</span-->
            <span>powered by PerlDancer2</span>
        </div>
    </div>
[% IF google_monitor %]
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43433926-2', 'maurorestaurant.it');
  ga('send', 'pageview');

</script>
[% END %]
</body>
</html>
